<div><textarea [(ngModel)]="editedTask.taskName" name="" id="" cols="30" rows="10"></textarea>

    <div class="btn" (click)="saveTaskName()">Save</div>

</div>

<draggable-container [options]="{useMultiContainers: true}" (onContainerUpdated)="debug($event)">
    <ul class="subContainer" returnVal="{taskStatus: 1}">
        <draggable-element>
            <li *ngFor="let task of tasks 
                    | filter: {taskStatus: 1, userId: curentUser.curentUserId}
            " [attr.id]="task.taskId">
                <my-task [task]="task" (onChange)="taskNameChange($event)"></my-task>
            </li>
        </draggable-element>
    </ul>
    <ul class="subContainer" returnVal="{taskStatus: 2}">
        <draggable-element *ngFor="let task of tasks 
                    | filter: {taskStatus: 2, userId: curentUser.curentUserId}
            " [attr.id]="task.taskId">
            <li>
                <my-task [task]="task" (onChange)="taskNameChange($event)"></my-task>
            </li>
        </draggable-element>
    </ul>

    <div *ngFor="let user of users">
        <div>{{user.userName}}</div>
        <ul class="subContainer" [attr.userId]="user.userId" returnVal="{taskStatus: 0}">
            <draggable-element *ngFor="let task of tasks 
                    | filter: {taskStatus: 0, userId: user.userId}
            " [attr.id]="task.taskId">
                <li>
                    <my-task [task]="task" (onChange)="taskNameChange($event)"></my-task>
                </li>
            </draggable-element>
        </ul>
    </div>

</draggable-container>