// styles in src/style directory are applied to the whole page
body {
    background: #0147A7;
    color: #fff;
}
a {
    color: #03A9F4;
}



draggable-element { 
    margin: 1px;    
    font-size: 20px;
    background-color: #ccc;    
}

draggable-element {
    padding: 35px 20px;    
}